@import "style.scss";

.menu,
.main__sidebar__menu {
    display: flex;
    flex-direction: column;
    max-width: 306px;
    width: 100%;
    background-color: $bgColor;
}

.side__menu {
    color: $text;
    padding: 9% 10% 20% 10%;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.search-icon {
    margin-right: 37%;
}

.menu__nav {
    list-style: none;
    padding: 0%;
    font-family: "TT Lakes Medium";
}

a {
    text-decoration: none;
    color: $text;
}

.contacts {
    margin: 70% 0 0 0;
}

li {
    margin: 10% 0 0 0;
}

li:hover{
    position: relative;
    padding-left: 10%;
    right: 12%;
    border-left: 3px solid $active;
    border-radius: 2px;
    color: #7e7e82;
}



.h1__active {
    position: relative;
    padding-left: 2%;
    right: 2%;
    border-left: 3px solid $active;
    border-radius: 2px;
}

.ru_active {
    color: $textMenu;
}

.contacts__icon {
    display: flex;
    gap: 7%;
}

.mail {
    font-family: "TT Lakes Medium";
}

.tel {
    font-family: "TT Lakes Bold2";
    font-size: 24px;
}

.lang {
    display: flex;
    gap: 1%;
    font-family: "TT Lakes Medium";
}

.line__gray,
.burger,
.line__gray,
.sm-closebtn,
.i1-show,
.contacts__icon-show,
.tools {
    display: none;
}
